.scheme-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.colour-container {
    display: flex;
    /* flex-wrap: wrap; FIXME Make it responsive */
    /* max-width: 50rem; */
    max-width: 60%;
    margin: auto;
    background-color: #fff;
    border: 1px solid #b7b7b7;
    border-radius: 10px;
    overflow: hidden;
}

.individual-colour {
    height: 15rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.individual-colour__remove,
.individual-colour__add {
    align-self: center;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    padding: 1rem;
    border-radius: 10px;
}

.individual-colour__remove {
    background-color: rgba(255, 255, 255, .8);
}

.individual-colour__add {
    background-color: #ededed;
    margin: 1rem;
}

.individual-colour__remove button {
    margin-top: 1rem;
    cursor: pointer;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.individual-colour__add input {
    width: 5rem;
    height: 2rem;
    border-radius: 10px;
    cursor: pointer;
    margin: .5rem;
}

.io-button {
    display: block;
    cursor: pointer;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1rem;
    background-color: #e9c46a;
    border: 1px solid #6f6f6f;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
}

.io-button:hover,
.io-button:focus {
    background-color: #f4a261;
    box-shadow: none;

}

.io-button:active {
    color: #fff;
    background-color: #2d2d2d;
}

.hidden {
    display: none;
}

.name-highlight {
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
}

.name-change {
    margin: -1rem auto 1rem auto;
    display: block;
    font-size: .6rem;
    font-style: italic;
    color: #636363;
}

.add-scheme-container {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
    border-radius: 10px;
    padding: 1rem;
}

.add-input-text {
    height: 2rem;
    margin: 1rem .5rem 1rem 0;
    border-radius: 10px;
    border: 1px solid #6f6f6f;
    font-size: 1rem;
    padding: 3px;
}

.add-input-submit {
    font-size: 1rem;
    padding: 10px;
    margin: 1rem .5rem;
    border-radius: 10px;
    border: 1px solid #6f6f6f;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.add-input-submit:hover,
.add-input-submit:focus {
    color: #fff;
    background-color: #6f6f6f;
    cursor: pointer;
    box-shadow: none;
}

.add-divider {
    color: #a4a4a4;
    border-left: 1px dashed #dfdfdf;
    margin: 0 1rem;
}

.alert {
    background-color: darkorange;
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
}