.groups-main-container {
    display: flex;
    max-width: 60%;
    margin: auto;
    justify-content: space-evenly;
}

.group-container {
    background-color: #ededed;
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    width: 13rem;
    padding: 1rem;
    border-radius: 10px;
}

.group-container button,
.group-button {
    margin: .5rem;
    padding: .5rem;
}

.group-button-container {
    display: flex;
    justify-content: center;
}

.name-highlight {
    background-color: lightgray;
    padding: 5px;
    border-radius: 10px;
}

.name-change {
    margin: -1rem auto 1rem auto;
    display: block;
    font-size: .6rem;
    font-style: italic;
    color: #636363;
}

.scheme-container {
    border: 1px solid #eee;
    margin: 2rem;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.add-group-container {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: auto;
    border-radius: 10px;
    padding: 1rem;
}

.add-input-text {
    height: 2rem;
    margin: 1rem .5rem 1rem 0;
    border-radius: 10px;
    border: 1px solid #6f6f6f;
    font-size: 1rem;
    padding: 3px;
}

.add-input-submit {
    font-size: 1rem;
    padding: 10px;
    margin: 1rem .5rem 1rem 0;
    border-radius: 10px;
    border: 1px solid #6f6f6f;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.add-input-submit:hover,
.add-input-submit:focus {
    color: #fff;
    background-color: #6f6f6f;
    cursor: pointer;
    box-shadow: none;
}

.add-divider {
    color: #a4a4a4;
    border-left: 1px dashed #dfdfdf;
    margin: 0 1rem;
}

.centred {
    text-align: center;
}